{% extends "base.html" %}
{% load static %}
{% block title %}{{ kennel.name }} Standard Poodles{% endblock %}

{% block content %}
<div id="detail">
	<h1>{{ kennel.name}} Standard Poodles</h1>

	<section>
		<h2 class="page-section-header">
			Information
			<div class="float-right">			
				<a 
				href="{% url 'organizer:update-kennel' kennel.slug %}" 
				class="btn btn-sm btn-outline-success mt-5">
				<i class="fas fa-pencil"></i> Update</a>

				<a 
				class="btn btn-sm btn-outline-danger mt-5"
				@click="confirmDelete('{{ kennel.slug }}')">
				<i class="fas fa-trash"></i> Delete</a>
			</div>
		</h2>

		<table class="table">
			<caption>
				Created {{ kennel.created_at|date:"l F j, Y" }} {{ kennel.created_at|time:"P" }}
				<span class="float-right">Last Updated {{ kennel.updated_at|date:"l F j, Y" }} {{ kennel.updated_at|time:"P" }}</span>
			</caption>
			<tr>
				<th>People</th>
				<td>	{% for o in kennel.get_person %}
					<a href="{{ o.get_absolute_url }}">{{ o }}</a>
					{% if not forloop.last %}
					& 
					{% endif %}
					{% endfor %}
				</td>
			</tr>
			{% for name, value in kennel.get_fields %}
			{% with skip='ID Name slug Created Updated' %}     
			{% if value and not name in skip %}
			<tr>
				<th>{{ name }}</th>
				<td>
					{% if value == 'True' %}
					<i class="fas fa-check"></i>
					{% elif value == 'False' %}
					<i class="fas fa-times"></i>
					{% else %}
					{{ value|default_if_none:"" }}
					{% endif %}
				</td>
			</tr>
			{% endif %}
			{% endwith %}
			{% endfor %}

		</table>

		<h2>Comments</h2>
		{% if kennel.comments %}
		{{ kennel.comments }}
		{% else %}
		{% lorem 1 p %}
		{% endif %}
	</section>

	<section>
		<div class="row">
			<div class="col">
				<h2>Owns</h2>
				<ul class="list-group">
					{% for pood in kennel.get_owns %}
					{% include 'includes/poodle-list-item.html' with pood=pood %}						
					{% endfor %}			
				</ul>
			</div>
			<div class="col">
				<h2>Bred</h2>
				<ul class="list-group">
					{% for pood in kennel.get_bred %}
					{% include 'includes/poodle-list-item.html' with pood=pood %}			
					{% endfor %}	
				</ul>	
			</div>
		</div>
	</section>

	{% include 'organizer/kennel/modals.html' %}
</div>

{% endblock content %}

{% block after_javascript %}
<script>
	var CONFIG = {
		"delete_modal": "delete-kennel-modal",
		"edit_modal": "edit-kennel-modal",
		'url_item': "{% url 'kennel-list' %}",
		'selects': {
			'states': {{ selects.states | safe }},
			'countries': {{ selects.countries | safe }},
		}
	}
</script>
<script src="{% static 'js/organizer-kennel-detail.js' %}"></script>
{% endblock after_javascript %}