{% extends "base.html" %}

{% block title %}{{ kennel.name }} Standard Poodles{% endblock %}

{% block content %}
<h1>{{ kennel.name}}</h1>

<h3 class="text-condensed">{{ kennel.city }}, {{ kennel.state }}</h3>

<a href="{% url 'organizer:update-kennel' kennel.slug %}" 
class="btn btn-sm btn-outline-success">
<i class="fas fa-pencil"></i> Update
</a>

<a class="btn btn-sm btn-outline-danger">
	<i class="fas fa-trash"></i> 
	Delete
</a>

<table class="table">
	{% for name, value in kennel.get_fields %}
	{% with skip='ID slug' %}     
	{% if value and not name in skip %}
	<tr>
		<th>{{ name }}</th>
		<td>{{ value }}</td>
	</tr>
	{% endif %}
	{% endwith %}
	{% endfor %}
</table>

{% lorem 3 p %}

{% endblock content %}