{% extends "base.html" %}
{% load static %}
{% block title %}List{% endblock %}

{% block content %}
<div id="list">
	<h1>People</h1>

	<h3 class="text-condensed">{% lorem 10 w random %}</h3>
	<a href="{% url 'organizer:new-person' %}" 
	class="btn btn-sm btn-outline-success mt-3">
	<i class="fas fa-plus"></i> New Person
</a>

<table class="table">
	<thead>
		<tr>
			<th>Actions</th>
			<th>Name</th>
			<th>Kennel</th>
			<th>City</th>
			<th>State</th>
			<th>Country</th>
		</tr>
	</thead>
	<tbody>
		{% for per in people %}
		<tr data-kennel-slug="{{ per.slug }}">
			<td>				
				<a 
				href="{% url 'organizer:update-person' per.slug %}" 
				class="btn btn-sm">
				<i class="fas fa-pencil text-success"></i>
			</a>
			<button class="btn btn-sm"
			@click="confirmDelete('{{ per.slug }}')">
			<i class="fas fa-trash text-danger"></i>
		</button>
	</td>
	<td><a href="{{ per.get_absolute_url }}">{{ per.get_full_name }}</a></td>
	<td>
		{% if per.kennel %}
		<a href="{{ per.kennel.get_absolute_url }}">{{ per.kennel.name }} Standard Poodles</a>							
		{% endif %}
	</td>
	<td>{{ per.kennel.city|default_if_none:"" }}</td>
	<td>{{ per.kennel.state|default_if_none:"" }}</td>
	<td>{{ per.kennel.country }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% include 'includes/pagination.html' %}



</div>
{% endblock content %}

{% block after_javascript %}

<script>
	var CONFIG = {
		"delete_modal": "delete-person-modal",
		"edit_modal": "edit-person-modal",
		"kennel_modal": "edit-kennel-modal",

		'url_person': "{% url 'person-list' %}",
		'url_kennel': "{% url 'kennel-list' %}",

		'selects': {
			'kennels': {{ selects.kennels | safe }},		
			'states': {{ selects.states | safe }},
			'countries': {{ selects.countries | safe }},
		}
	}
</script>
<script src="{% static 'js/organizer-person-list.js' %}"></script>
{% endblock after_javascript %}