{% extends "base.html" %}
{% load static %}
{% block title %}{{ person.get_full_name }} {% endblock %}

{% block content %}
<div id="detail">
	<h1>{{ person.get_full_name }}</h1>
	{% if person.kennel %}	
	{% endif %}

	<section>
		<h2 class="page-section-header">
			Information
			<div class="float-right">
				<a href="{% url 'organizer:update-person' person.slug %}" 
				class="btn btn-sm btn-outline-success mt-5">
				<i class="fas fa-pencil"></i> Update
			</a>
			<a class="btn btn-sm btn-outline-danger mt-5">
				<i class="fas fa-trash"></i> 
				Delete
			</a>
		</div>
	</h2>

	<table class="table table-sm">
		<caption>
			Created {{ person.created_at|date:"l F j, Y" }} {{ person.created_at|time:"P" }}
			<span class="float-right">Last Updated {{ person.updated_at|date:"l F j, Y" }} {{ person.updated_at|time:"P" }}</span>
		</caption>
		<tbody>
			{% if person.kennel %}
			<tr>
				<th>Kennel</th>
				<td><a href="{{ person.kennel.get_absolute_url }}">{{ person.kennel.name }} Standard Poodles</a></td>
			</tr>
			{% endif %}
			{% if person.kennel.country == 'USA' %}
			<tr>
				<th>AKC Bred with H.E.A.R.T</th>
				<td>		
					{% include 'includes/display-boolean-field.html' with value=person.akc_bred_with_heart %}
				</td>				
			</tr>
			<tr>
				<th>AKC Breeder of Merit</th>
				<td>		
					{% include 'includes/display-boolean-field.html' with value=person.akc_breeder_of_merit %}			
				</td>				
			</tr>
			{% endif %}
		</tbody>
	</table>
	<h4>Comments</h4>
	{% if person.comments %}
	
	<pre>{% spaceless %}			
		{{ person.comments }}
	{% endspaceless %}</pre>
	
	{% else %}
	{% lorem 1 p %}
	{% endif %}
</section>

<section>
	<div class="row">
		<div class="col">
			<h2>Owns</h2>
			<ul class="list-group">
				{% for pood in person.get_owns %}
				{% include 'includes/poodle-list-item.html' with pood=pood %}			
				{% endfor %}			
			</ul>
		</div>
		<div class="col">
			<h2>Bred</h2>
			<ul class="list-group">
				{% for pood in person.get_bred %}
				{% include 'includes/poodle-list-item.html' with pood=pood %}			
				{% endfor %}	
			</ul>	
		</div>
	</div>
</section>


</div>
{% endblock content %}

{% block after_javascript %}


{% endblock after_javascript %}