{% extends "base.html" %}
{% load static %}
{% block title %}{{ person.get_full_name }} {% endblock %}

{% block content %}
<div id="detail">
	<h1>{{ person.get_full_name }}</h1>
	{% if person.kennel %}	
	{% endif %}

	<section>
		<h2 class="page-section-header">
			Information
			<div class="float-right">
				<a href="{% url 'organizer:update-person' person.slug %}" 
				class="btn btn-sm btn-outline-success mt-5">
				<i class="fas fa-pencil"></i> Update
			</a>
			<a class="btn btn-sm btn-outline-danger mt-5">
				<i class="fas fa-trash"></i> 
				Delete
			</a>
		</div>
	</h2>

	<table class="table table-sm">
		<caption>
			Created {{ person.created_at|date:"l F j, Y" }} {{ person.created_at|time:"P" }}
			<span class="float-right">Last Updated {{ person.updated_at|date:"l F j, Y" }} {{ person.updated_at|time:"P" }}</span>
		</caption>
		<tbody>
			<tr>
				<th>Kennel</th>
				<td><a href="{{ person.kennel.get_absolute_url }}">{{ person.kennel.name }} Standard Poodles</a></td>
			</tr>			
			{% for name, value in person.get_fields %}
			{% with skip='ID slug First Name Last Name MI Created Updated Kennel' %}     
			{% if value and not name in skip %}
			<tr>
				<th>{{ name }}</th>
				<td>
					{% if value == 'True' %}
					<i class="fas fa-check"></i>
					{% elif value == 'False' %}
					<i class="fas fa-times"></i>
					{% else %}
					{{ value|default_if_none:"" }}
					{% endif %}
				</td>
			</tr>
			{% endif %}
			{% endwith %}
			{% endfor %}	
		</tbody>
	</table>
	<h4>Comments</h4>
	{% if person.comments %}
	{{ person.comments }}
	{% else %}
	{% lorem 1 p %}
	{% endif %}
</section>

<section>
	<div class="row">
		<div class="col">
			<h2>Owns</h2>
			<ul class="list-group">
				{% for pood in person.get_owns %}
				{% include 'includes/poodle-list-item.html' with pood=pood %}			
				{% endfor %}			
			</ul>
		</div>
		<div class="col">
			<h2>Bred</h2>
			<ul class="list-group">
				{% for pood in person.get_bred %}
				{% include 'includes/poodle-list-item.html' with pood=pood %}			
				{% endfor %}	
			</ul>	
		</div>
	</div>
</section>


</div>
{% endblock content %}

{% block after_javascript %}


{% endblock after_javascript %}