{% extends "base.html" %}

{% block title %}{{ person.get_full_name }} {% endblock %}

{% block content %}
<h1>	
	{{ person.get_full_name }} 
</h1>
{% if person.kennel %}
<h2>
	<a href="{{ person.get_kennel.get_absolute_url }}">
		{{ person.get_kennel.name }} Standard Poodles
	</a>
</h2>
{% endif %}

<a href="{% url 'organizer:update-person' person.slug %}" 
class="btn btn-sm btn-outline-success mt-5">
<i class="fas fa-pencil"></i> Update
</a>
<a class="btn btn-sm btn-outline-danger mt-5">
	<i class="fas fa-trash"></i> 
	Delete
</a>
<table class="table">
	{% for name, value in person.get_fields %}
	{% with skip='ID slug Kennel' %}     
	{% if value and not name in skip %}
	<tr>
		<th>{{ name }}</th>
		<td>{{ value }}</td>
	</tr>
	{% endif %}
	{% endwith %}
	{% endfor %}
</table>
<h2>Comments</h2>

{% if person.comments %}
{{ person.comments }}
{% else %}
{% lorem 1 p %}
{% endif %}

{% endblock content %}