{% block modal %}
<b-modal id="delete-person-modal" hide-footer>
	<template v-slot:modal-title>
		Are you sure you want to delete {$ person.last_name $}, {$ person.first_name $} {$ person.mi $}?
	</template>	
	<b-button class="mt-3 mr-auto" 
	variant="danger" 
	@click="realDelete(person.slug)">Delete</b-button>
	<b-button class="mt-3 float-right" 
	variant="default"
	@click="closeModal('delete-person-modal')">Cancel</b-button>
</b-modal>

<b-modal id="edit-person-modal" hide-footer>
	<template v-slot:modal-title>
		{$ person.last_name $}, {$ person.first_name $} {$ person.mi $}
	</template>
	<div class="d-block">

		<b-form-group
		id="edit-person-first-name-fieldset"
		label="First Name"
		label-for="edit-person-first-name"		
		label-size="sm">
		<b-form-input 
		id="edit-person-first-name" 
		v-model="person.first_name" 
		size="sm" 
		trim></b-form-input></b-form-group>

		<b-form-group
		id="edit-person-mi-fieldset"
		label="MI"
		label-for="edit-person-mi"		
		label-size="sm">
		<b-form-input 
		id="edit-person-mi" 
		v-model="person.mi" 
		size="sm" 
		trim></b-form-input></b-form-group>

		<b-form-group
		id="edit-person-last-name-fieldset"
		label="Last Name"
		label-for="edit-person-last-name"		
		label-size="sm">
		<b-form-input 
		id="edit-person-last-name" 
		v-model="person.last_name" 
		size="sm" 
		trim></b-form-input></b-form-group>
		<hr>
		<b-button @click="newKennelModal" variant="info" size="sm" class="float-right">
			New
		</b-button>
		<div v-if="!newKennel">
			<b-form-group		
			id="edit-person-kennel-fieldset-exists"
			description="If person's kennel is unlisted: click the New button and create their kennel"
			label="Kennel"
			label-for="edit-person-kennel"		
			label-size="sm">
			<b-form-select 
			id="edit-person-kennel" 
			v-model="person.kennel"
			:options="kennels_select"
			size="sm" 
			trim></b-form-select></b-form-group>
           <b-form-group
           id="edit-kennel-name-fieldset"
           description="Kennel name excluding breed"
           label="Name"
           label-for="edit-kennel-name"        
           label-size="sm">
           <b-form-input 
           id="edit-kennel-name" 
           v-model="kennel.name" 
           size="sm" 
           trim></b-form-input></b-form-group>
           <b-form-group
           id="edit-kennel-city-fieldset"
           label="City"
           label-for="edit-kennel-city"
           label-size="sm">
           <b-form-input 
           id="edit-kennel-city" 
           v-model="kennel.city" 
           size="sm" 
           trim></b-form-input></b-form-group>
           <b-form-group
           id="edit-kennel-state-fieldset"
           description="State as 2-letter code"
           label="State"
           label-for="edit-kennel-state"       
           label-size="sm">
           <b-form-select 
           id="edit-kennel-state" 
           v-model="kennel.state"
           :options="states_select"
           size="sm" 
           trim></b-form-select></b-form-group>
           <b-form-group
           id="edit-kennel-country-fieldset"
           description="Country as 3-letter code"
           label="Country"
           label-for="edit-kennel-country"
           label-size="sm">
           <b-form-select 
           id="edit-kennel-country" 
           v-model="kennel.country" 
           :options="countries_select"
           size="sm" 
           trim></b-form-select></b-form-group>
       </div>

   </div>		
</div>
<div>
  <b-button class="mt-3 mr-auto" 
  variant="default" 
  @click="closeModal('edit-person-modal')">Close</b-button>
  <b-button class="mt-3 float-right" 
  variant="success" 
  @click="submitPerson(person.slug)">Save</b-button>
</div>
</b-modal>

<b-modal id="edit-kennel-modal" hide-footer>
    <template v-slot:modal-title>
        {$ kennel.name $} Standard Poodles
    </template>
    <div class="d-block">
        <b-form-group
        id="edit-kennel-name-fieldset"
        description="Kennel name excluding breed"
        label="Name"
        label-for="edit-kennel-name"        
        label-size="sm">
        <b-form-input 
        id="edit-kennel-name" 
        v-model="kennel.name" 
        size="sm" 
        trim></b-form-input></b-form-group>
        <b-form-group
        id="edit-kennel-city-fieldset"
        label="City"
        label-for="edit-kennel-city"
        label-size="sm">
        <b-form-input 
        id="edit-kennel-city" 
        v-model="kennel.city" 
        size="sm" 
        trim></b-form-input></b-form-group>
        <b-form-group
        id="edit-kennel-state-fieldset"
        description="State as 2-letter code"
        label="State"
        label-for="edit-kennel-state"       
        label-size="sm">
        <b-form-select 
        id="edit-kennel-state" 
        v-model="kennel.state"
        :options="states_select"
        size="sm" 
        trim></b-form-select></b-form-group>
        <b-form-group
        id="edit-kennel-country-fieldset"
        description="Country as 3-letter code"
        label="Country"
        label-for="edit-kennel-country"
        label-size="sm">
        <b-form-select 
        id="edit-kennel-country" 
        v-model="kennel.country" 
        :options="countries_select"
        size="sm" 
        trim></b-form-select></b-form-group>
    </div>

    <div>
        <b-button class="mt-3 mr-auto" 
        variant="default" 
        @click="closeModal('edit-kennel-modal')">Close</b-button>
        <b-button class="mt-3 float-right" 
        variant="success" 
        @click="submitKennel()">Save</b-button>
    </div>
</b-modal>



{% endblock modal %}