{% extends "base.html" %}
{% load static %}
{% block after_css %}
<link href="{% static 'poodles/css/poodles.css' %}" rel="stylesheet">
{% endblock after_css%}
{% block title %}{{ poodle.name_call }}{% endblock %}

{% block content %}
<div id="detail">
	<h1 class="page-header">
		{{ poodle.name_call }} | <span class="text-condensed">{{ poodle.titled_name }}</span>
	</h1>


	<section>
		<h2 class="section-header">
			Information
			<div class="float-right">
				<a href="{% url 'poodles:update' poodle.slug %}" class="btn btn-sm btn-outline-success">
					<i class="fas fa-pencil"></i> Update</a>
				<a @click="confirmDelete('{{ poodle.slug }}')" class="btn btn-sm btn-outline-danger">
					<i class="fas fa-trash"></i> Delete</a>
			</div>
		</h2>

		<h3 class="section-header text-center text-condensed">
			Sire
			{% if poodle.poodle_sire %}
			<a href="{{ poodle.get_sire.get_absolute_url }}">
				{{ poodle.get_sire|default_if_none:"NA" }}
			</a>
			{% endif %}
			x
			Dam
			{% if poodle.poodle_dam %}
			<a href="{{ poodle.get_dam.get_absolute_url }}">
				{{ poodle.get_dam |default_if_none:""}}
			</a>
			{% endif %}
		</h3>
		<h4 class="section-header text-center text-condensed">
			Owner{% if poodle.owners|length > 1 %}s{% endif %}
			{% for o in poodle.owners %}
			<a href="{{ o.get_absolute_url }}">{{ o }}</a>
			{% if o.kennel %}
			<small><a class="text-muted" href="{{ o.kennel.get_absolute_url }}">{{ o.kennel.name }} Standard Poodles</a></small>
			{% endif %}
			{% if not forloop.last %}
			&
			{% endif %}
			{% empty %}
			NA
			{% endfor %}
			<p>
			Breeder{% if poodle.breeders|length > 1 %}s{% endif %}
			{% for o in poodle.breeders %}
			<a href="{{ o.get_absolute_url }}">{{ o }}</a>
			<small><a class="text-muted" href="{{ o.kennel.get_absolute_url }}">{{ o.kennel.name }} Standard
					Poodles</a></small>
			{% if not forloop.last %}
			&
			{% endif %}
			{% empty %}
			NA
			{% endfor %}
		</h4>

		<h4 class="">Comments</h4>
		{% if poodle.comments %}
		<pre>{% spaceless %}			
			{{ poodle.comments }}
		{% endspaceless %}</pre>
		{% else %}
		{% lorem 1 p %}
		{% endif %}

		<table class="table table-sm">
			<caption>
				Created {{ poodle.created_at|date:"l F j, Y" }} {{ poodle.created_at|time:"P" }}
				<span class="float-right">Last Updated {{ poodle.updated_at|date:"l F j, Y" }}
					{{ poodle.updated_at|time:"P" }}</span>
			</caption>
			<tbody>
				{% for name, value in poodle.get_fields %}
				{% with skip='ID slug Sire Dam Comments Created Updated' %}
				{% if value and not name in skip %}
				<tr>
					<th>{{ name }}</th>
					<td>
						{% if value == 'True' %}
						<i class="fas fa-check"></i>
						{% elif value == 'False' %}
						<i class="fas fa-times"></i>
						{% else %}
						{{ value|default_if_none:"" }}
						{% endif %}
					</td>
				</tr>
				{% endif %}
				{% endwith %}
				{% endfor %}
			</tbody>
		</table>
	</section>

	<section>
		<h2 class="section-header">Pedigree</h2>

		{% include 'poodles/poodle/pedigree-section.html' with poodle=poodle %}
	</section>

	<section>
		<h2 class="section-header">
			Images
			<div class="float-right">
				<a href="{% url 'poodles:image-new' poodle.slug %}" class="btn btn-sm btn-outline-success">
					<i class="fas fa-file-image"></i> Add</a>
			</div>
		</h2>
		{% include 'poodles/poodle/carousel-vue.html' with images=poodle.images %}
	</section>

	<section>
		<h2 class="section-header">
			Documents
			<div class="float-right">
				<a href="{% url 'poodles:document-new' poodle.slug %}" class="btn btn-sm btn-outline-success">
					<i class="fas fa-file"></i> Add</a>
			</div>
		</h2>


		<ul class="list-group">
			{% for doc in poodle.documents %}

			<a href="/media/{{ doc.path }}" class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1"><i class="fas fa-file"></i> {{ doc.category }}</h5>
					<small>{{ doc.uploaded_at }}</small>
				</div>
				<p class="mb-1">{{ doc.title }}</p>
				<small>{{ doc.description }}</small>
			</a>
			{% empty %}
			<li class="list-group-item list-group-item-action">No documents</li>
			{% endfor %}
		</ul>
	</section>
	{% include 'poodles/poodle/modals.html' %}
</div>
{% endblock content %}

{% block after_javascript %}

<script>
	var CONFIG = {
		"delete_modal": "delete-poodle-modal",
		"edit_modal": "edit-poodle-modal",
		'url_item': "{% url 'poodle-list' %}",
		'document_modal': 'document-poodle-modal',
		'selects': {
			'person_owner': {
				{
					selects.person_owner | safe
				}
			},
			'person_breeder': {
				{
					selects.person_breeder | safe
				}
			},

			'poodle_sire': {
				{
					selects.poodle_sire | safe
				}
			},
			'poodle_dam': {
				{
					selects.poodle_dam | safe
				}
			},

			'color': {
				{
					selects.color | safe
				}
			},
			'sex': {
				{
					selects.sex | safe
				}
			},
		},
	}
</script>
<script src="{% static 'js/poodles-detail.js' %}"></script>
{% endblock after_javascript %}