<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col">
            <div class="row d-flex align-items-center">
                <div class="col-2">
                    {{ poodle }}
                </div><!-- THIS poodle -->
                <div class="col-10">
                    <div class="row d-flex align-items-center">
                        <div class="col">
                            <div class="row d-flex align-items-center">
                                <div class="col-4">
                                    {% if poodle.sire %}                    
                                    <a href="{{ poodle.sire.url }}" class="d-block">
                                        <i class="fas fa-mars male-text"></i>
                                        {{ poodle.sire }}
                                    </a>
                                    {% endif %}
                                </div><!-- SIRE -->
                                <div class="col-8">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-6">
                                            {% if poodle.sire.sire %}                   
                                            <a href="{{ poodle.sire.sire.url}}" class="d-block">
                                                <i class="fas fa-mars male-text"></i>
                                                {{ poodle.sire.sire }}
                                            </a>
                                            {% endif %} 
                                        </div><!-- SIRE's SIRE -->
                                        <div class="col-6">
                                            {% if poodle.sire.sire.sire %}              
                                            <a href="{{ poodle.sire.sire.sire.url}}" class="d-block">
                                                <i class="fas fa-mars male-text"></i>
                                                {{ poodle.sire.sire.sire }}
                                            </a>
                                            {% endif %} 
                                            {% if poodle.sire.sire.dam %}                   
                                            <a href="{{ poodle.sire.sire.dam.url}}" class="d-block">
                                                <i class="fas fa-venus female-text"></i>
                                                {{ poodle.sire.sire.dam }}
                                            </a>
                                            {% endif %} 
                                        </div><!-- SIRE's SIRE's side -->
                                    </div>
                                    <hr>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-6">
                                            {% if poodle.sire.dam %}                    
                                            <a href="{{ poodle.sire.dam.url }}" class="d-block">
                                                <i class="fas fa-venus female-text"></i>
                                                {{ poodle.sire.dam }}               
                                            </a>
                                            {% endif %}
                                        </div><!-- SIRE's DAM -->
                                        <div class="col-6">
                                            {% if poodle.sire.dam.sire %}               
                                            <a href="{{ poodle.sire.dam.sire.url}}" class="d-block">
                                                <i class="fas fa-mars male-text"></i>
                                                {{ poodle.sire.dam.sire }}
                                            </a>
                                            {% endif %}
                                            {% if poodle.sire.dam.dam %}
                                            <a href="{{ poodle.sire.dam.dam.url }}" class="d-block">
                                                <i class="fas fa-venus female-text"></i>
                                                {{ poodle.sire.dam.dam }}               
                                            </a>
                                            {% endif %}
                                        </div><!-- SIRE's DAM's side -->
                                    </div>
                                </div><!-- SIRE's side -->
                            </div>
                        </div>
                    </div><!-- end SIRE -->
                    <hr>
                    <div class="row d-flex align-items-center">
                        <div class="col">
                            <div class="row d-flex align-items-center">
                                <div class="col-4">
                                    {% if poodle.dam %}                    
                                    <a href="{{ poodle.dam.url }}" class="d-block">
                                        <i class="fas fa-venus female-text"></i>
                                        {{ poodle.dam }}
                                    </a>
                                    {% endif %}
                                </div><!-- DAM -->
                                <div class="col-8">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-6">
                                            {% if poodle.dam.sire %}                   
                                            <a href="{{ poodle.dam.sire.url}}" class="d-block">
                                                <i class="fas fa-mars male-text"></i>
                                                {{ poodle.dam.sire }}
                                            </a>
                                            {% endif %} 
                                        </div><!-- DAM's SIRE -->
                                        <div class="col-6">
                                            {% if poodle.dam.sire.sire %}              
                                            <a href="{{ poodle.dam.sire.sire.url}}" class="d-block">
                                                <i class="fas fa-mars male-text"></i>
                                                {{ poodle.dam.sire.sire }}
                                            </a>
                                            {% endif %} 
                                            {% if poodle.dam.sire.dam %}                   
                                            <a href="{{ poodle.dam.sire.dam.url}}" class="d-block">
                                                <i class="fas fa-venus female-text"></i>
                                                {{ poodle.dam.sire.dam }}
                                            </a>
                                            {% endif %} 
                                        </div><!-- DAM's SIRE's side -->
                                    </div>
                                    <hr>
                                    <div class="row d-flex align-items-center">
                                        <div class="col-6">
                                            {% if poodle.dam.dam %}                    
                                            <a href="{{ poodle.dam.dam.url }}" class="d-block">
                                                <i class="fas fa-venus female-text"></i>
                                                {{ poodle.dam.dam }}               
                                            </a>
                                            {% endif %}
                                        </div><!-- DAM's DAM -->
                                        <div class="col-6">
                                            {% if poodle.dam.dam.sire %}               
                                            <a href="{{ poodle.dam.dam.sire.url}}" class="d-block">
                                                <i class="fas fa-mars male-text"></i>
                                                {{ poodle.dam.dam.sire }}
                                            </a>
                                            {% endif %}
                                            {% if poodle.dam.dam.dam %}
                                            <a href="{{ poodle.dam.dam.dam.url }}" class="d-block">
                                                <i class="fas fa-venus female-text"></i>
                                                {{ poodle.dam.dam.dam }}               
                                            </a>
                                            {% endif %}
                                        </div><!-- DAM's DAM's side -->
                                    </div>
                                </div><!-- DAM's side -->
                            </div>
                        </div>
                    </div><!--end DAM -->
                </div><!-- THIS poodle's side -->
            </div>      
        </div> 
    </div>
</div>