{% load static %}

<template>
  <div>
    <b-carousel
    id="carousel"
    v-model="slide"
    :interval="4000"
    controls
    indicators
    background="#ababab"
    img-width="1024"
    img-height="480"
    style="text-shadow: 1px 1px 2px #333;"
    @sliding-start="onSlideStart"
    @sliding-end="onSlideEnd"
    >
    {% for img in images %}
    <!-- Text slides with image -->
    <b-carousel-slide
    caption="{{ img.description | title }}"
    img-src="/media/{{ img.image }}"
    img-alt="{{ img.description | title }}"
    >         
  </b-carousel-slide>    
  {% empty %}

  <!-- Slide with blank fluid image to maintain slide aspect ratio -->
  <b-carousel-slide caption="Blank Image" img-blank img-alt="Blank image">
    <p>
      No photos for this dog
    </p>
  </b-carousel-slide>
  {% endfor %}
</b-carousel>
</div>
</template>