{% extends "base.html" %}

{% block title %}{{ poodle.name_call }}{% endblock %}

{% block content %}
<h1>{{ poodle.name_call }}</h1>
<h2>{{ poodle.get_titled_name }}</h2>

<h3 class="text-condensed mb-5">
	by <a href="{{ poodle.get_sire.get_absolute_url }}">{{ poodle.get_sire }}</a> out of <a href="{{ poodle.get_dam.get_absolute_url }}">{{ poodle.get_dam }}</a>
</h3>

<a href="{% url 'poodles:update' poodle.slug %}" 
class="btn btn-sm btn-outline-success">
<i class="fas fa-pencil"></i> Update
</a>
<a class="btn btn-sm btn-outline-danger">
	<i class="fas fa-trash"></i> 
	Delete
</a>
<table class="table">
	{% for name, value in poodle.get_fields %}
	{% with skip='ID slug Sire Dam' %}     
	{% if value and not name in skip %}
	<tr>
		<th>{{ name }}</th>
		<td>
			
			{{ value }}

			
		</td>
	</tr>
	{% endif %}
	{% endwith %}
	{% endfor %}
</table>


{% lorem 3 p %}

{% endblock content %}