{% block modal %}
<b-modal id="delete-poodle-modal" ref="delete-poodle-modal" hide-footer>
	<template v-slot:modal-title>
		Are you sure you want to delete {$ item.name_call $}?
	</template>	
	<b-button class="mt-3 mr-auto" 
	variant="danger" 
	@click="realDelete(item.slug)">Delete</b-button>
	<b-button class="mt-3 float-right" 
	@click="closeModal('delete-poodle-modal')">Cancel</b-button>
</b-modal>

<b-modal id="edit-poodle-modal" ref="edit-poodle-modal" hide-footer>
	<template v-slot:modal-title>
		{$ item.name_call $}
	</template>

	<b-form-row>
		<b-col>
			<b-form-group
			label="Call Name"
			label-for="call-name"
			label-size="sm">
			<b-form-input 
			id="call-name" 
			v-model="item.name_call" size="sm" 
			trim></b-form-input></b-form-group>
		</b-col>	
		<b-col>
			<b-form-group
			label="Sex"
			label-for="sex"
			label-size="sm">
			<b-form-select 
			id="sex" 
			v-model="item.sex" size="sm"
			:options="sex_select" 
			trim></b-form-select></b-form-group>
		</b-col>		
		<b-col>
			<b-form-group
			label="Color"
			label-for="color"
			label-size="sm">
			<b-form-select 
			id="color" 
			v-model="item.color" size="sm"
			:options="color_select" 
			trim></b-form-select></b-form-group>
		</b-col>	
	</b-form-row>
	<b-form-row>
		<b-col>
			<b-form-group
			label="Prefix Titles"
			label-for="prefix"
			label-size="sm">
			<b-form-input 
			id="prefix" 
			v-model="item.titles_prefix" size="sm" 
			trim></b-form-input></b-form-group>
		</b-col>
		<b-col>
			<b-form-group
			label="Registered Name"
			label-for="registered-name"
			label-size="sm">
			<b-form-input 
			id="registered-name" 
			v-model="item.name_registered" size="sm" 
			trim></b-form-input></b-form-group>
		</b-col>	
		<b-col>
			<b-form-group
			label="Suffix Titles"
			label-for="suffix"
			label-size="sm">
			<b-form-input 
			id="suffix" 
			v-model="item.titles_suffix" size="sm" 
			trim></b-form-input></b-form-group>
		</b-col>			
	</b-form-row>
	<b-form-row>
		<b-col>
			<b-form-group   
			label="Owner"
			label-for="person_owner"
			label-size="sm">
			<b-form-select multiple 
			id="person_owner" 
			v-model="item.person_owner" size="sm"
			:options="person_owner_select" 
			trim></b-form-select></b-form-group>
		</b-col>	
		<b-col>
			<b-form-group
			label="Breeder"
			label-for="person_breeder"
			label-size="sm">
			<b-form-select multiple 
			id="person_breeder" 
			v-model="item.person_breeder" size="sm"
			:options="person_breeder_select" 
			trim></b-form-select></b-form-group>
		</b-col>	
	</b-form-row>
	<b-form-row>
		<b-col>
			<b-form-group
			label="Born"
			label-for="dob"
			label-size="sm">
			<b-form-datepicker 
			id="dob" 
			v-model="item.dob" size="sm"
			trim></b-form-datepicker></b-form-group>
		</b-col>	
		<b-col>
			<b-form-group
			label="Died"
			label-for="dod"
			label-size="sm">
			<b-form-datepicker 
			id="dod" 
			v-model="item.dod" size="sm"
			trim></b-form-datepicker></b-form-group>
		</b-col>	
	</b-form-row>
	<b-form-row>
		<b-col>
			<b-form-group
			label="AKC"
			label-for="akc"
			label-size="sm">
			<b-form-input 
			id="akc" 
			v-model="item.akc" size="sm" 
			trim></b-form-input></b-form-group>
		</b-col>
		<b-col>
			<b-form-group
			label="CHIC"
			label-for="chic"
			label-size="sm">
			<b-form-input 
			id="chic" 
			v-model="item.chic" size="sm" 
			trim></b-form-input></b-form-group>
		</b-col>    
		<b-col>
			<b-form-group
			label="UKC"
			label-for="ukc"
			label-size="sm">
			<b-form-input 
			id="ukc" 
			v-model="item.ukc" size="sm" 
			trim></b-form-input></b-form-group>
		</b-col>            
	</b-form-row>
	<b-form-row>
		<b-col>
			<b-form-group   
			label="Sire"
			label-for="poodle_sire"
			label-size="sm">
			<b-form-select  
			id="poodle_sire" 
			v-model="item.poodle_sire" size="sm"
			:options="poodle_sire_select" 
			trim></b-form-select></b-form-group>
		</b-col>    
		<b-col>
			<b-form-group
			label="Dam"
			label-for="poodle_dam"
			label-size="sm">
			<b-form-select  
			id="poodle_dam" 
			v-model="item.poodle_dam" size="sm"
			:options="poodle_dam_select" 
			trim></b-form-select></b-form-group>
		</b-col>    
	</b-form-row>
	<b-form-row>
		<b-col>
			<b-form-group
			label="Comments"
			label-for="comments"
			label-size="sm">
			<b-form-textarea  
			id="comments" 
			v-model="item.comments" size="sm"
			trim></b-form-textarea></b-form-group>
		</b-col>    
	</b-form-row>


	<b-button class="mt-3 mr-auto" 
	variant="default" 
	@click="closeModal('edit-poodle-modal')">Close</b-button>
	<b-button class="mt-3 float-right" 
	variant="success" 
	@click="submitData(item.slug)">Save</b-button>
</b-modal>

<b-modal id="document-poodle-modal" ref="document-poodle-modal" hide-footer>
	<template v-slot:modal-title>
		Add Documents for {$ item.name_call $}
	</template>
	<div class="d-block">		
		<template>
			<b-form-file
			v-model="document"
			placeholder="Choose a file or drop it here..."
			></b-form-file>	
			
			<b-form-group
			id="title-fieldset"
			label="Document Title"
			label-for="title"		
			label-size="sm">
			<b-form-input 
			id="title" 
			v-model="document.title" 
			size="sm" 
			trim></b-form-input></b-form-group>

			<b-form-group		
			id="doc_type-fieldset"
			label="Document Type"
			label-for="doc_type"		
			label-size="sm">
			<b-form-input 
			id="doc_type" 
			v-model="document.doc_type" 
			size="sm" 
			trim></b-form-input></b-form-group>
			
			<b-form-group		
			id="description-fieldset"
			label="Document Description"
			label-for="description"		
			label-size="sm">			
			<b-form-textarea
			id="description"
			v-model="document.description"
			placeholder="Enter something..."
			size="small"
			rows="3"
			max-rows="6"
			></b-form-textarea></b-form-group>

			
		</template>
	</div>
	<b-button class="mt-3 mr-auto" 
	variant="default" 
	@click="closeModal('document-poodle-modal')">Close</b-button>
	<b-button class="mt-3 float-right" 
	variant="success" 
	@click="submitData(item.slug)">Save</b-button>
</b-modal>
{% endblock modal %}

