{% extends "base.html" %}

{% block title %}{{ poodle.get_titled_name }}{% endblock %}

{% block content %}
<h1>{{ poodle.get_titled_name }} <b>"{{ poodle.name_call }}"</b></h1>

<h3 class="text-condensed">
	by <a href="{{ poodle.get_sire.get_absolute_url }}">{{ poodle.get_sire.get_titled_name }}</a> out of <a href="{{ poodle.get_dam.get_absolute_url }}">{{ poodle.get_dam.get_titled_name }}</a>
</h3>

<table class="table">
	{% for name, value in poodle.get_fields %}
	{% with skip='ID slug Sire Dam' %}     
	{% if value and not name in skip %}
	<tr>
		<th>{{ name }}</th>
		<td>
			
			{{ value }}

			
		</td>
	</tr>
	{% endif %}
	{% endwith %}
	{% endfor %}
</table>


{% lorem 3 p %}

{% endblock content %}